---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative h-screen md:-mt-[76px] not-prose text-focus-in">
  <div class="relative backgrounded h-screen inset-0" aria-hidden="true">
    <a href="https://danieledamico.tech/tags/idee-monetizzazione/">
      <span class="circle_inside text-white absolute underline hover:text-primary text-sm"
        >Non sono i creator a monetizzare</span
      ></a
    >
  </div>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 flex h-screen justify-center">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
  </div>
</section>

<style>
  .backgrounded {
    background-image: url('src/assets/images/hero2.png');
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .circle_inside {
    top: 28%;
    left: 43%;
  }
</style>
