---
import { Icon } from 'astro-icon/components';
---

<section
  class="bg-primary dark:bg-primary moving-text-container text-muted not-prose h-96 items-center place-content-center"
>
  <div class="text-7xl moving-text mx-auto my-24 px-4 sm:px-6 py-4 text-md text-center font-medium self-center">
    <span>-</span>
    <span onclick="window.location.href='https://www.notionbuilders.it/';" class="hover:underline hover:cursor-pointer"
      >Notion Builders</span
    >
    <span>- Kit di Sopravvivenza per Creator</span>
    <span>- Solopreneur Booster</span>
  </div>
  <div class="text-7xl moving-text mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium self-center">
    <span>-</span>
    <span onclick="window.location.href='https://www.notionbuilders.it/';" class="hover:underline hover:cursor-pointer"
      >Notion Builders</span
    >
    <span>- Kit di Sopravvivenza per Creator</span>
    <span>- Solopreneur Booster</span>
  </div>
  <div class="text-7xl moving-text mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium self-center">
    <span>-</span>
    <span onclick="window.location.href='https://www.notionbuilders.it/';" class="hover:underline hover:cursor-pointer"
      >Notion Builders</span
    >
    <span>- Kit di Sopravvivenza per Creator</span>
    <span>- Solopreneur Booster</span>
  </div>
</section>

<style>
  .moving-text-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
  }

  .moving-text {
    font-weight: 700;
    text-transform: uppercase;
    animation: animate_text 10s linear infinite; /* The animation property */
  }

  .moving-text span {
    margin: 0 4px;
  }

  @keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
</style>
