---
import favIcon from '~/assets/favicons/favicon.ico';
import favIconSvg from '~/assets/favicons/faviconos.svg';
import appleTouchIcon from '~/assets/favicons/apple-touch-icon.png';
---

<link rel="shortcut icon" href={favIconSvg.src} />
<link rel="icon" type="image/svg+xml" href={favIconSvg.src} />
<link rel="mask-icon" href={favIconSvg.src} color="#8D46E7" />
<link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
